<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
    <h1>This is the EDIT action</h1>
    <form method="post" action="/posts/<%= @post.id %>">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <p>Post ID: <%= @post.id %></p>
        <br>
        <p>Update Name:<input type="text" name="name" value="<%= @post.name %>"></p>
        <p>Update Content:<input type="textarea" name="content" value="<%= @post.content %>"></p>
        <input type="submit" value="submit">
    </form>
 </body>
</html>