<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
    <body>
        <h1>This is the CREATE action</h1>
        <form method="post" action="/posts">
            <p>Name of Post:<input type="text" name="name" id="post_name"></p>
            <p>Content of Post:<input type="text" name="content" id="post_content"></p>
            <input type="submit" value="submit">
        </form>
    </body>
</html>