<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
    <body>
        <h1>This is the SHOW action for a specific instance</h1>
        <p>Name of Post:<%= @post.name %></p>
        <p>Content of Post: <%= @post.content %></p>
        <br>
        <form method="post" action="/posts/<%= @post.id %>/delete">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="delete">
        </form>
    </body>
</html> 